extends layout

block content
  .row.page-header
    .col-lg-12
      h1= title
      p= description
  .row
    .col-xs-11.col-md-9.list-group-item
      h4 Eggs Benedict
      p.price $15.00
      p.description This delicacy has two medium poached eggs on a toasted english muffin and grilled ham.
    .col-xs-1.col-md-.list-group-item
      button.addButton Add to Order 
    .col-xs-12.col-md-9.list-group-item
      h4 Eggs Benedict
      p.price $15.00
      p.description This delicacy has two medium poached eggs on a toasted english muffin and grilled ham.
    .col-xs-1.col-md-.list-group-item
      button.addButton Add to Order   
