extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
         small &nbsp;What would you like to have today!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
           a(href="/breakfast") Breakfast
          p.info
          |Please Order from our selection of Eggs Benedict, Omelletes, Classic Eggs, Waffles or Pancakes
        .col-xs-12.list-group-item
          h4
           a(href="/lunch") Lunch
          p.info
          |Pasta, Sandwich, Burger or a Wrap what will you have today
        .col-xs-12.list-group-item
          h4
           a(href="/dinner") Dinner
          p.info
          |Our Kebab special, Curries or maybe a late night Poutine
        .col-xs-12.list-group-item
          h4
           a(href="/snacks") Snacks
          p.info
          |French fires, Onion Rings, Lousiana Potatoes, Grilled Tomoates and a lot more   
    .col-xs-12.col-sm-8
      p.info Looking for Wifi and seat? We have you covered.

          